@charset "utf-8";

body{
    background-color: #C7AF86;
    background-image: url("kepek/hatter.gif");
    font-family: Calibri, sans-serif;
    font-size: 1.1em;
    margin: auto;
    width: 80%;
    max-width: 700px;
}

#content{
    background-color: #C7AF86;
    border: 1px solid #000;
    padding: 20px;
    padding-bottom: 10px;
    margin-top: 10px;
}

h1, h2, h3{
    font-family: Cambria, sans-serif;
}

h2, h3{
    font-size: 1.3em;
}

h1{
    margin-top: 0;
}

h3, .comment{
    margin-top: 0;
    margin-bottom: 0;
}

.comment{
    list-style-type: none;
}

#number{
    list-style-type: decimal;
}

img{
    height: 150px;
    border: 1px solid #000;
}

#cover {
    height: 420px;
    margin: auto;
}

.gallery{
    margin-right: 5px;
}